<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<f:view>
      <h1>JSF Delete Data From The Database Table Example</h1>
<h:form id="form1">
<h:dataTable value="#{roomtypedao.select()}" var="u" border="1">
<h:column>
<f:facet name="header">
 ID
</f:facet>
#{u.id}
</h:column>

<h:column>
<f:facet name="header">
EvenBed
</f:facet>
#{u.evenBed}
</h:column>

<h:column>
<f:facet name="header">
OddBed
</f:facet>
#{u.oddBed}
</h:column>

<h:column>
<f:facet name="header">
BunkBed
</f:facet>
#{u.bunkBed}
</h:column>

<h:column>
<f:facet name="header">
BedCount
</f:facet>
#{u.bedCount}
</h:column>

<h:column>
<f:facet name="header">
PrizePerDay
</f:facet>
#{u.prizePerDay}
</h:column>

<h:column>
<h:commandButton value="DELETE" action="#{roomtype.delete(u.id)}" />

</h:column>
</h:dataTable>
</h:form>


<h:form id="form2">
<h:dataTable value="#{agediscountdao.select()}" var="u" border="1">
<h:column>
<f:facet name="header">
 ID
</f:facet>
#{u.id}
</h:column>

<h:column>
<f:facet name="header">
Room_Type
</f:facet>
#{u.roomtype_id}
</h:column>

<h:column>
<f:facet name="header">
MinAge
</f:facet>
#{u.minAge}
</h:column>

<h:column>
<f:facet name="header">
MaxAge
</f:facet>
#{u.maxAge}
</h:column>

<h:column>
<f:facet name="header">
Percent
</f:facet>
#{u.percent}
</h:column>

<h:column>
<f:facet name="header">
Active
</f:facet>
#{u.active}
</h:column>

<h:column>
<h:commandButton value="DELETE" action="#{agediscount.delete(u.id)}" />

</h:column>
</h:dataTable>
</h:form>
</f:view>
</body>
</html>