<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>

   <f:view>
      
          
            <h:dataTable value="#{roomtypedao.select()}" var="item" bgcolor="#F1F1F1" border="10" >
				<f:facet name="header">
					<h:outputText value="RoomType's" />
				</f:facet>

				<h:column>
					<f:facet name="header">
						<h:outputText value="ID:" />
					</f:facet>
					<h:outputText style="" value="#{item.id}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Even Bed:" />
					</f:facet>
					<h:outputText style="" value="#{item.evenBed}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Odd Bed:" />
					</f:facet>
					<h:outputText value="#{item.oddBed}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Bunk Bed:" />
					</f:facet>
					<h:outputText value="#{item.bunkBed}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Bed Count:" />
					</f:facet>
					<h:outputText value="#{item.bedCount}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Prize Per Day:" />
					</f:facet>
					<h:outputText value="#{item.prizePerDay}"></h:outputText>
				</h:column>

				
                
			</h:dataTable>
         
   
   
   </f:view>
 
   <f:view>
                
            <h:dataTable value="#{roomtypedao.selectOne(1)}" var="item" bgcolor="#F1F1F1" border="10" >
				<f:facet name="header">
					<h:outputText value="RoomType's" />
				</f:facet>

				<h:column>
					<f:facet name="header">
						<h:outputText value="ID:" />
					</f:facet>
					<h:outputText style="" value="#{item.id}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Even Bed:" />
					</f:facet>
					<h:outputText style="" value="#{item.evenBed}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Odd Bed:" />
					</f:facet>
					<h:outputText value="#{item.oddBed}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Bunk Bed:" />
					</f:facet>
					<h:outputText value="#{item.bunkBed}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Bed Count:" />
					</f:facet>
					<h:outputText value="#{item.bedCount}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Prize Per Day:" />
					</f:facet>
					<h:outputText value="#{item.prizePerDay}"></h:outputText>
				</h:column>

				
                
			</h:dataTable>
         
   
   
   </f:view>
   

<f:view>
     <h:dataTable value="#{agediscountdao.select()}" var="item" bgcolor="#F1F1F1" border="10" >
				<f:facet name="header">
					<h:outputText value="AgeDiscount" />
				</f:facet>

				<h:column>
					<f:facet name="header">
						<h:outputText value="ID:" />
					</f:facet>
					<h:outputText style="" value="#{item.id}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="RoomType_ID:" />
					</f:facet>
					<h:outputText style="" value="#{item.roomtype_id}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Min Age:" />
					</f:facet>
					<h:outputText value="#{item.minAge}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Max Age:" />
					</f:facet>
					<h:outputText value="#{item.maxAge}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Percent:" />
					</f:facet>
					<h:outputText value="#{item.percent}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="isActive:" />
					</f:facet>
					<h:outputText value="#{item.active}"></h:outputText>
				</h:column>

				
                
			</h:dataTable>
    
</f:view>
   
  <f:view>
     <h:dataTable value="#{agediscountdao.selectOne(1) }" var="item" bgcolor="#F1F1F1" border="10" >
				<f:facet name="header">
					<h:outputText value="AgeDiscount" />
				</f:facet>

				<h:column>
					<f:facet name="header">
						<h:outputText value="ID:" />
					</f:facet>
					<h:outputText style="" value="#{item.id}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="RoomType_ID:" />
					</f:facet>
					<h:outputText style="" value="#{item.roomtype_id}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Min Age:" />
					</f:facet>
					<h:outputText value="#{item.minAge}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Max Age:" />
					</f:facet>
					<h:outputText value="#{item.maxAge}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Percent:" />
					</f:facet>
					<h:outputText value="#{item.percent}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="isActive:" />
					</f:facet>
					<h:outputText value="#{item.active}"></h:outputText>
				</h:column>

				
                
			</h:dataTable>
</f:view>

    <f:view>
      
          
            <h:dataTable value="#{packagediscountdao.select()}" var="item" bgcolor="#F1F1F1" border="10" >
				<f:facet name="header">
					<h:outputText value="Package Discount" />
				</f:facet>

				<h:column>
					<f:facet name="header">
						<h:outputText value="ID:" />
					</f:facet>
					<h:outputText style="" value="#{item.id}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="RoomType_Id" />
					</f:facet>
					<h:outputText style="" value="#{item.roomtype_id}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="DayCount:" />
					</f:facet>
					<h:outputText value="#{item.daycount}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="NightCount:" />
					</f:facet>
					<h:outputText value="#{item.nightcount}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Percent" />
					</f:facet>
					<h:outputText value="#{item.percent}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="isActive:" />
					</f:facet>
					<h:outputText value="#{item.active}"></h:outputText>
				</h:column>

				
                
			</h:dataTable>
         
   
   
   </f:view>
 
  <f:view>
      
          
            <h:dataTable value="#{packagediscountdao.selectOne(1)}" var="item" bgcolor="#F1F1F1" border="10" >
				<f:facet name="header">
					<h:outputText value="Package Discount" />
				</f:facet>

				<h:column>
					<f:facet name="header">
						<h:outputText value="ID:" />
					</f:facet>
					<h:outputText style="" value="#{item.id}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="RoomType_Id" />
					</f:facet>
					<h:outputText style="" value="#{item.roomtype_id}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="DayCount:" />
					</f:facet>
					<h:outputText value="#{item.daycount}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="NightCount:" />
					</f:facet>
					<h:outputText value="#{item.nightcount}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Percent" />
					</f:facet>
					<h:outputText value="#{item.percent}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="isActive:" />
					</f:facet>
					<h:outputText value="#{item.active}"></h:outputText>
				</h:column>

				
                
			</h:dataTable>
   </f:view>
   <br/><br/>
   
         <f:view>
      
          
            <h:dataTable value="#{roomdao.select()}" var="item" bgcolor="#F1F1F1" border="10" >
				<f:facet name="header">
					<h:outputText value="Room's" />
				</f:facet>

				<h:column>
					<f:facet name="header">
						<h:outputText value="ID:" />
					</f:facet>
					<h:outputText style="" value="#{item.id}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="RoomTypeId:" />
					</f:facet>
					<h:outputText style="" value="#{item.roomtype_id}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="isReserved:" />
					</f:facet>
					<h:outputText value="#{item.reserved}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="isCheckIn:" />
					</f:facet>
					<h:outputText value="#{item.checkedIn}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="IsCheckOut:" />
					</f:facet>
					<h:outputText value="#{item.checkedOut}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="CheckInDate:" />
					</f:facet>
					<h:outputText value="#{item.checkInDate}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="CheckOutDate:" />
					</f:facet>
					<h:outputText value="#{item.checkOutDate}"></h:outputText>
				</h:column>
                
			</h:dataTable>
         
   
   
   </f:view>
 
   <f:view>
                
           
            
            <h:dataTable value="#{roomdao.selectOne(1)}" var="item" bgcolor="#F1F1F1" border="10" >
				<f:facet name="header">
					<h:outputText value="Room's" />
				</f:facet>

				<h:column>
					<f:facet name="header">
						<h:outputText value="ID:" />
					</f:facet>
					<h:outputText style="" value="#{item.id}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="RoomTypeId:" />
					</f:facet>
					<h:outputText style="" value="#{item.roomtype_id}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="isReserved:" />
					</f:facet>
					<h:outputText value="#{item.reserved}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="isCheckIn:" />
					</f:facet>
					<h:outputText value="#{item.checkedIn}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="IsCheckOut:" />
					</f:facet>
					<h:outputText value="#{item.checkedOut}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="CheckInDate:" />
					</f:facet>
					<h:outputText value="#{item.checkInDate}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="CheckOutDate:" />
					</f:facet>
					<h:outputText value="#{item.checkOutDate}"></h:outputText>
				</h:column>
                
			</h:dataTable>
         
   
   
   </f:view>
     
     <f:view>
      
          
            <h:dataTable value="#{reservationdao.select()}" var="item" bgcolor="#F1F1F1" border="10" >
				<f:facet name="header">
					<h:outputText value="Reservation" />
				</f:facet>

				<h:column>
					<f:facet name="header">
						<h:outputText value="ID:" />
					</f:facet>
					<h:outputText style="" value="#{item.id}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="RoomID:" />
					</f:facet>
					<h:outputText style="" value="#{item.roomId}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="CustomerID:" />
					</f:facet>
					<h:outputText value="#{item.customerId}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="NightCount:" />
					</f:facet>
					<h:outputText value="#{item.billId}"></h:outputText>
				</h:column>			             
			</h:dataTable>
         
   
   
   </f:view>
 
  <f:view>
      
          
             <h:dataTable value="#{reservationdao.selectOne(1)}" var="item" bgcolor="#F1F1F1" border="10" >
				<f:facet name="header">
					<h:outputText value="Reservation" />
				</f:facet>

				<h:column>
					<f:facet name="header">
						<h:outputText value="ID:" />
					</f:facet>
					<h:outputText style="" value="#{item.id}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="RoomID:" />
					</f:facet>
					<h:outputText style="" value="#{item.roomId}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="CustomerID:" />
					</f:facet>
					<h:outputText value="#{item.customerId}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="NightCount:" />
					</f:facet>
					<h:outputText value="#{item.billId}"></h:outputText>
				</h:column>			             
			</h:dataTable>
         
   

				
                			
   </f:view>
   <br/><br/>
         
</body>
</html>