<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<f:view>
     <h:form> 
    <fieldset>
   <legend><p class="col"> Personel Settings for Sign Up to Site</p></legend>
<table style="background-color: #ECE5B6;" WIDTH="30%">
<tr>
<td> <h:messages showDetail="true" /> </td>
</tr>

<tr>
<td width="50%"><h:outputText value="Enter Id : "/></td>
<td width="50%"><h:inputText value="#{roomtypedao.id}"/></td>
</tr>

<tr>
<td width="50%"><h:outputText value="EvenBedCount : " /></td>
<td width="50%"><h:inputText value="#{roomtypedao.evenBed}" /></td>
</tr>

<tr>
<td width="50%"><h:outputText value="OddBedCount : "/></td>
<td width="50%"><h:inputText value="#{roomtypedao.oddBed}" /></td>
</tr>

<tr>
<td width="50%"><h:outputText value="BunkBedCount:"/></td>
<td width="50%"><h:inputText value="#{roomtypedao.bunkBed}" /></td>
</tr>

<tr>
<td width="50%"><h:outputText value="BedCount:"/></td>
<td width="50%"><h:inputText value="#{roomtypedao.bedCount}" /></td>
</tr>

<tr>
<td width="50%"><h:outputText value="Prize Per Day:"/></td>
<td width="50%"><h:inputText value="#{roomtypedao.prizePerDay}" /></td>
</tr>



<tr>
<td width="50%"><h:commandButton value="Add" action="#{roomtypedao.insert()}"/></td>
</tr>

</table>
<br/><br/>

<table style="background-color: #ECE5B6;" WIDTH="30%">
<tr>
<td> <h:messages showDetail="true" /> </td>
</tr>

<tr>
<td width="50%"><h:outputText value="Enter Id : "/></td>
<td width="50%"><h:inputText value="#{agediscountdao.id}"/></td>
</tr>

<tr>
<td width="50%"><h:outputText value="RoomType_Id : " /></td>
<td width="50%"><h:inputText value="#{agediscountdao.roomtype_id}" /></td>
</tr>

<tr>
<td width="50%"><h:outputText value="MinAge : "/></td>
<td width="50%"><h:inputText value="#{agediscountdao.minAge}" /></td>
</tr>

<tr>
<td width="50%"><h:outputText value="MaxAge:"/></td>
<td width="50%"><h:inputText value="#{agediscountdao.maxAge}" /></td>
</tr>

<tr>
<td width="50%"><h:outputText value="Percent"/></td>
<td width="50%"><h:inputText value="#{agediscountdao.percent}" /></td>
</tr>

<tr>
<td width="50%"><h:outputText value="isActive"/></td>
<td width="50%"><h:inputText value="#{agediscountdao.active}" /></td>
</tr>


<tr>
<td width="50%"><h:commandButton value="Add" action="#{agediscountdao.insert()}"/></td>
</tr>

</table>
<br/><br/>
<table style="background-color: #ECE5B6;" WIDTH="30%">
<tr>
<td> <h:messages showDetail="true" /> </td>
</tr>

<tr>
<td width="50%"><h:outputText value="Enter Id : "/></td>
<td width="50%"><h:inputText value="#{packagediscountdao.id}"/></td>
</tr>

<tr>
<td width="50%"><h:outputText value="RoomType_Id : " /></td>
<td width="50%"><h:inputText value="#{packagediscountdao.roomtype_id}" /></td>
</tr>

<tr>
<td width="50%"><h:outputText value="DayCount: "/></td>
<td width="50%"><h:inputText value="#{packagediscountdao.daycount}" /></td>
</tr>

<tr>
<td width="50%"><h:outputText value="NightCount:"/></td>
<td width="50%"><h:inputText value="#{packagediscountdao.nightcount}" /></td>
</tr>

<tr>
<td width="50%"><h:outputText value="Percent"/></td>
<td width="50%"><h:inputText value="#{packagediscountdao.percent}" /></td>
</tr>

<tr>
<td width="50%"><h:outputText value="isActive"/></td>
<td width="50%"><h:inputText value="#{packagediscountdao.active}" /></td>
</tr>


<tr>
<td width="50%"><h:commandButton value="Add" action="#{packagediscountdao.insert()}"/></td>
</tr>

</table>
<br/><br/>
<table style="background-color: #ECE5B6;" WIDTH="30%">
<tr>
<td> <h:messages showDetail="true" /> </td>
</tr>

<tr>
<td width="50%"><h:outputText value="Enter Id : "/></td>
<td width="50%"><h:inputText value="#{reservationdao.id}"/></td>
</tr>

<tr>
<td width="50%"><h:outputText value="Enter RoomId : " /></td>
<td width="50%"><h:inputText value="#{reservationdao.roomId}" /></td>
</tr>

<tr>
<td width="50%"><h:outputText value="Enter CustomerId: "/></td>
<td width="50%"><h:inputText value="#{reservationdao.customerId}" /></td>
</tr>

<tr>
<td width="50%"><h:outputText value="Enter BillId:"/></td>
<td width="50%"><h:inputText value="#{reservationdao.billId}" /></td>
</tr>



<tr>
<td width="50%"><h:commandButton value="Add" action="#{reservationdao.insert()}"/></td>
</tr>

</table>
 </fieldset>
</h:form>


<h:form>
<table>
<tr>
<td> <h:messages showDetail="true" /> </td>
</tr>
<tr>
<td><h:outputText value="Enter Id : "/></td>
<td><h:inputText value="#{roomdao.id}"/></td>
</tr>
<tr>
<td><h:outputText value="Enter Room Type Id : " /></td>
<td><h:inputText value="#{roomdao.roomtype_id}" /></td>
</tr>
<tr>
<td><h:outputText value="Enter isReserved : "/></td>
<td><h:inputText value="#{roomdao.reserved}" /></td>
</tr>
<tr>
<td><h:outputText value="Enter isCheckIn : "/></td>
<td><h:inputText value="#{roomdao.checkedIn}" /></td>
</tr>
<tr>
<td><h:outputText value="Enter isCheckOut : "/></td>
<td><h:inputText value="#{roomdao.checkedOut}" /></td>
</tr>
<tr>
<td><h:outputText value="Enter CheckInDate: "/></td>
<td><h:inputText value="#{roomdao.checkInDate}">
<f:convertDateTime pattern="yyyy-MM-dd"/>
</h:inputText></td>
</tr>
<tr>
<td><h:outputText value="Enter CheckOutDate: "/></td>
<td><h:inputText value="#{roomdao.checkOutDate}">
<f:convertDateTime pattern="yyyy-MM-dd"/>
</h:inputText></td>
</tr>
<tr>
<td></td>
<td><h:commandButton value="Insert" action="#{roomdao.insert()}"/></td>
</tr>
</table>
</h:form>
</f:view>
</body>
</html>