<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<f:view>
  <h:form>
    <h:commandButton value="Update" action="#{roomtypedao.update(200)}"></h:commandButton>
    <h:commandButton value="Update2" action="#{agediscountdao.update(200)}"></h:commandButton>
    <h:commandButton value="Update3" action="#{packagediscountdao.update(200)}"></h:commandButton>
    
    <br/><br/>
    <h:commandButton value="UpdateRoom" action="#{reservationdao.updateRoom(3)}"></h:commandButton><br/>
    <h:commandButton value="UpdateCustomer" action="#{reservationdao.updateCustomer(2)}"></h:commandButton><br/>
    <h:commandButton value="UpdateBill" action="#{reservationdao.updateBill(3)}"></h:commandButton><br/>
   </h:form>
</f:view>
</body>
</html>