<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title></title>
        <link href="/hotelmanagementproject/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
   <link href="/hotelmanagementproject/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
   <link href="/hotelmanagementproject/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" type="text/css" href="/hotelmanagementproject/assets/plugins/select2/select2_metro.css" />
      <link rel="stylesheet" href="/hotelmanagementproject/assets/plugins/data-tables/DT_bootstrap.css" />
        <link href="/hotelmanagementproject/assets/css/style-metronic.css" rel="stylesheet" type="text/css" />
   <link rel="stylesheet" type="text/css" href="/hotelmanagementproject/assets/plugins/bootstrap-datepicker/css/datepicker.css" />
   <link href="/hotelmanagementproject/assets/css/style.css" rel="stylesheet" type="text/css" />
   <link href="/hotelmanagementproject/assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
   <link href="/hotelmanagementproject/assets/css/plugins.css" rel="stylesheet" type="text/css" />
   <link href="/hotelmanagementproject/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
   <link href="/hotelmanagementproject/assets/css/custom.css" rel="stylesheet" type="text/css" />
    </h:head>
    <h:body>
        
        <h:form id="form1"  style="color: white;">
            <h:inputText  class="form-control" id="txtdeneme" value="#{customerara.cusID}"></h:inputText><h:commandButton class=" form-control btn blue" value="Ara" action="faces/addon/editCustomerInfo.xhtml" actionListener="#{customerara.getInfo(e)}"></h:commandButton>           
            <div><span class="form-control">Name : </span><h:inputText class="form-control" value="#{customerara.cusName}"></h:inputText></div>
            <div><span class="form-control">Surname : </span><h:inputText class="form-control" value="#{customerara.cusSurname}"></h:inputText></div>
            <div><span class="form-control">Mail : </span><h:inputText class="form-control" value="#{customerara.cusMail}"></h:inputText></div>
            <div><span class="form-control">Phone : </span><h:inputText class="form-control" value="#{customerara.cusPhone}"></h:inputText></div>
            <div><span class="form-control">Birth : </span><h:inputText class="form-control" value="#{customerara.cusBirth}"></h:inputText></div>
            <div><h:commandButton value="Degisiklikleri Kaydet" class="form-control" action="faces/addon/editCustomerInfo.xhtml" actionListener="#{customerara.saveInfo(e)}"></h:commandButton></div>
            <h:inputText style='display: none;' id="result" value="#{customerara.saveResult}"></h:inputText>
        </h:form>
        <script type="text/javascript">
            
            var data = window.location.search;
            
            if(data.indexOf('?') != -1){
            
            var dataClean;
            
            dataClean = data.split('=');
            
            document.getElementById('form1:txtdeneme').value = dataClean[1];           
            }
            function kapat(){
                
                if(document.getElementById("form1:result").value == "1"){
                    window.close();
                }
                
            }
            kapat();
        </script>
    </h:body>
</html>

