<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
           <link href="/hotelmanagementproject/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
   <link href="/hotelmanagementproject/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
   <link href="/hotelmanagementproject/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" type="text/css" href="/hotelmanagementproject/assets/plugins/select2/select2_metro.css" />
      <link rel="stylesheet" href="/hotelmanagementproject/assets/plugins/data-tables/DT_bootstrap.css" />
        <link href="/hotelmanagementproject/assets/css/style-metronic.css" rel="stylesheet" type="text/css" />
   <link rel="stylesheet" type="text/css" href="/hotelmanagementproject/assets/plugins/bootstrap-datepicker/css/datepicker.css" />
   <link href="/hotelmanagementproject/assets/css/style.css" rel="stylesheet" type="text/css" />
   <link href="/hotelmanagementproject/assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
   <link href="/hotelmanagementproject/assets/css/plugins.css" rel="stylesheet" type="text/css" />
   <link href="/hotelmanagementproject/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
   <link href="/hotelmanagementproject/assets/css/custom.css" rel="stylesheet" type="text/css" />
    </h:head>
    <h:body>
        <div class="page-content">
            <h:form>
        <div class="form-group">
                             
                                            <label class="control-label col-md-3">Resim Arama</label>
                                  <div class="input-group" style="text-align:left">
                                      <h:inputText id="musteriid" class="form-control" value="#{imageSearchBean.text}" /> 
                                    <span class="input-group-btn">
                                       
                                    
                                        <h:commandLink onclick="#{imageSearchBean.GoWeb()}" class="btn yellow">Resim Ara <i class="icon-search"></i></h:commandLink>
                                     
                                       
                                    </span>
                                 
                                 </div>
                                           
                                 
                              
                           </div>
                         
            <table class="table table-hover table-striped table-bordered">
                        <tbody>
                            <ui:repeat varStatus="status" var="item" value="#{imageSearchBean.titles}" > 
                                
                            <tr>
                                <td><img src="#{item}" height="100" /></td>
                           <td><a class="btn default" data-toggle="modal" href="#" onclick="gerigonder('#{item}')">Seç</a></td>
                        </tr>
                             </ui:repeat>
                     </tbody></table>
                                 
                              
                           
            </h:form>
       
    

<script>
    function gerigonder(a){
      //  window.opener['output'].value = document.getElementById('user_text').value;
      window.opener['output'].value = a;
        window.close();
    }
</script>
        </div>
    </h:body>
</html>

