<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >

    <h:body>
        <h3 class="form-section">Departman İşlemleri</h3>



        <div class="form-group">

            <h:form id="sip">

                <div class="col-md-3">

                    <div class="form-group">
                        <label class="control-label">Adı </label>
                        <h:inputText   class="form-control" value="#{departmentBean.name}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Açıklama </label>
                        <h:inputText   class="form-control" value="#{departmentBean.description}" /> 
                    </div>

                    <div class="form-group" style="position:relative;">
                        <span class="input-group-btn">


                            <h:commandLink class="btn green" id="username1_checker" action="#{departmentBean.save()}" > <i class="icon-ok"></i> Kaydet </h:commandLink>

                        </span>
                    </div>
                </div>

            </h:form>
            <div class="col-md-8" style="float: right;">

                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-user"></i>Departmanlar</div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Adı</th>
                                        <th>Açıklama</th>
                                        <th>Çalışan Sayısı</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <ui:repeat varStatus="status" var="item" value="#{departmentBean.depList}" > 
                                        <tr>
                                            <td>#{status.index} </td>
                                            <td>#{item.name}</td>
                                            <td>#{item.description}</td>
                                            <td>#{item.employeeCount}</td>

                                            <td><h:form>
                                                    <h:commandLink action="#{departmentBean.edit(item.ID)}" class="btn btn-xs blue"> Düzenle <i class="icon-edit"></i> </h:commandLink>

                                                    <h:commandLink action="#{departmentBean.delete(item.ID)}" class="btn btn-xs red"> Sil <i class="icon-remove"></i> </h:commandLink> 
                                                </h:form>    </td>
                                        </tr>

                                    </ui:repeat>

                                </tbody>
                            </table>
                            <div class="col-md-12">
                                <div class="col-md-offset-3" style="float: right;position:relative;top:20px;">
                                    <h:form>  <h:commandButton action="#{departmentBean.AllDepartments()}" class="btn blue button-next"  value="Departmanları Göster"/> </h:form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>

        </div>



    </h:body>
</html>
