<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >
    <script>
        function degisti(){
            var degisken = document.getElementById('buradan').value;
            degisken = degisken.split(":");
            document.getElementById('sip:veri').value=degisken[1];
        }
    </script>
    <h:body>
        <h3 class="form-section">Çalışan İşlemleri</h3>



        <div class="form-group">

            <h:form id="sip">

                <div class="col-md-3">

                    <div class="form-group">
                        <label class="control-label">TC / Pasaport </label>
                        <h:inputText   class="form-control" value="#{employeeBean.ID}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Adı</label>
                        <h:inputText   class="form-control" value="#{employeeBean.name}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Soyadı</label>
                        <h:inputText   class="form-control" value="#{employeeBean.surname}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Doğum Tarihi</label>
                        <h:inputText   class="form-control" value="#{employeeBean.birthDate}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Telefon</label>
                        <h:inputText   class="form-control" value="#{employeeBean.phone}" /> 
                    </div>
                     <div class="form-group">
                        <label class="control-label">Açıklama</label>
                        <h:inputText   class="form-control" value="#{employeeBean.jobDescription}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Maaş</label>
                        <h:inputText   class="form-control" value="#{employeeBean.salary}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Şifre</label>
                        <h:inputText   class="form-control" value="#{employeeBean.password}" /> 
                    </div>
                    
                    
                    <div class="form-group">
                        <label class="control-label">Departman</label>
                      
                            <input  id="buradan" class="form-control" autocomplete="off" data-provide="typeahead" data-items="4" data-source='#{employeeBean.allDepartments()}'/>

                        <h:inputText id="veri" value="#{employeeBean.departmentID}" style="visibility: hidden"/>

                    </div>
                     <div class="form-group" style="position:relative;bottom:25px;">
                            <span class="input-group-btn">


                                <h:commandLink class="btn green" id="username1_checker" action="#{employeeBean.save()}" onclick="degisti()" > <i class="icon-ok"></i> Kaydet </h:commandLink>

                            </span>
                </div>
                </div>
               
  </h:form>
                <div class="col-md-8" style="float: right;">

                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-user"></i>Çalışanlar</div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Adı</th>
                                            <th>Soyadı</th>
                                            <th>Doğum Tarihi</th>
                                            <th>Telefon</th>
                                            <th>Departman</th>
                                            <th>Açıklama</th>
                                            <th>Maaş</th>
                                            <th>Şifre</th>
                                            <th>İşlem</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ui:repeat varStatus="status" var="item" value="#{employeeBean.empList}" > 
                                            <tr>
                                                <td>#{status.index} </td>
                                                <td>#{item.name}</td>
                                                <td>#{item.surname}</td>
                                                <td>#{item.birthDate}</td>
                                                <td>#{item.phone}</td>
                                                <td>#{employeeBean.departmentName(item.departmentID)}</td>
                                                <td>#{item.jobDescription}</td>
                                                <td>#{item.salary}</td>
                                                <td>#{item.password}</td>
                                                <td><h:form>
                                                    <h:commandLink action="#{employeeBean.edit(item.ID)}" class="btn btn-xs blue"> Düzenle <i class="icon-edit"></i> </h:commandLink>
                                        
                                        <h:commandLink action="#{employeeBean.delete(item.ID)}" class="btn btn-xs red"> Sil <i class="icon-remove"></i> </h:commandLink> 
                                            </h:form>    </td>
                                            </tr>

                                        </ui:repeat>

                                    </tbody>
                                </table>
                                <div class="col-md-12">
            <div class="col-md-offset-3" style="float: right;position:relative;top:20px;">
                <h:form>  <h:commandButton action="#{employeeBean.AllEmployees()}" class="btn blue button-next"  value="Çalışanları Göster"/> </h:form>
              
            </div>
        </div>

                            </div>
                        </div>
                    </div>


                
                </div>
          
        </div>

        

    </h:body>








</html>
