<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >
    
    <script>
        function degisti(){
            var degisken = document.getElementById('buradan').value;
            degisken = degisken.split(":");
            document.getElementById('sip:veri').value=degisken[1];
        }
    </script>

    <h:body>
        <h3 class="form-section">Gider İşlemleri</h3>



        <div class="form-group">

            <h:form id="sip">

                <div class="col-md-3">

                    <div class="form-group">
                        <label class="control-label">Tarih </label>
                        <h:inputText   class="form-control" value="#{expenseBean.dateTime}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Açıklama </label>
                        <h:inputText   class="form-control" value="#{expenseBean.description}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tutar </label>
                        <h:inputText   class="form-control" value="#{expenseBean.price}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Departman</label>
                      
                            <input  id="buradan" class="form-control" autocomplete="off" data-provide="typeahead" data-items="4" data-source='#{expenseBean.allDepartments()}'/>

                            <h:inputText id="veri" value="#{expenseBean.departmentId}" style="visibility: hidden"/>

                    </div>
                    

                    <div class="form-group" style="position:relative;">
                        <span class="input-group-btn">


                            <h:commandLink class="btn green" id="username1_checker" action="#{expenseBean.save()}" onclick="degisti()" > <i class="icon-ok"></i> Kaydet </h:commandLink>

                        </span>
                    </div>
                </div>

            </h:form>
            <div class="col-md-8" style="float: right;">

                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-user"></i>Giderler</div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tarih</th>
                                        <th>Departman</th>
                                        <th>Açıklama</th>
                                        <th>Tutar</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <ui:repeat varStatus="status" var="item" value="#{expenseBean.expList}" > 
                                        <tr>
                                            <td>#{status.index} </td>
                                            <td>#{item.dateTime} </td>
                                            <td>#{expenseBean.departmentName(item.departmentID)}</td>
                                            <td>#{item.description}</td>
                                            <td>#{item.prize}</td>

                                            <td><h:form>
                                                    <h:commandLink action="#{expenseBean.edit(item.ID)}" class="btn btn-xs blue"> Düzenle <i class="icon-edit"></i> </h:commandLink>

                                                    <h:commandLink action="#{expenseBean.delete(item.ID)}" class="btn btn-xs red"> Sil <i class="icon-remove"></i> </h:commandLink> 
                                                </h:form>    </td>
                                        </tr>

                                    </ui:repeat>

                                </tbody>
                            </table>
                            <div class="col-md-12">
                                <div class="col-md-offset-3" style="float: right;position:relative;top:20px;">
                                    <h:form>  <h:commandButton action="#{expenseBean.AllExpenses()}" class="btn blue button-next"  value="Giderleri Göster"/> </h:form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>

        </div>



    </h:body>
</html>
