<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html xmlns="http://www.w3.org/1999/xhtml"
                         xmlns:h="http://xmlns.jcp.org/jsf/html"
                         xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
                         xmlns:f="http://xmlns.jcp.org/jsf/core"
                         xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> <!--<![endif]-->
    <h:head>
        <meta charset="utf-8" />
        <title>EDUE</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="MobileOptimized" content="320"/>       
        <link href="/hotelmanagementproject/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="/hotelmanagementproject/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/hotelmanagementproject/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/hotelmanagementproject/assets/plugins/select2/select2_metro.css" />
        <link rel="stylesheet" href="/hotelmanagementproject/assets/plugins/data-tables/DT_bootstrap.css" />
        <link href="/hotelmanagementproject/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/hotelmanagementproject/assets/plugins/bootstrap-datepicker/css/datepicker.css" />
        <link href="/hotelmanagementproject/assets/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="/hotelmanagementproject/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
        <link href="/hotelmanagementproject/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
        <link href="/hotelmanagementproject/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
        <link href="/hotelmanagementproject/assets/css/custom.css" rel="stylesheet" type="text/css"/>
        
        <script>

        </script>
    </h:head>

    <h:body class="page-header-fixed">
        <div class="header navbar navbar-inverse navbar-fixed-top">
            <div class="header-inner">
                <!--  LOGOMUZ -->  
                <a class="navbar-brand" href="index.xhtml">
                    <img src="/hotelmanagementproject/img/Logo.png" alt="logo" style="height: 30px;margin-top: -10px; margin-left: 50px" />
                </a>
                <!-- LOGO BITIS -->
                <!-- KUCULTEN KUTU --> 
                <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <img src="/hotelmanagementproject/assets/img/menu-toggler.png" alt="" />
                </a> 
                <!-- KUCULTEN KUTU BITIS -->
                <ul class="nav navbar-nav pull-right">


                    <!-- UYE GIRIS KISMI -->
                    <li class="dropdown user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username">#{LoginBean.username}</span>
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <h:form>
                                <li>
                                    <h:commandLink action="#{LoginBean.setPage('profile.xhtml')}" > <i class="icon-user"></i> Profil </h:commandLink>

                                </li>

                                <li>
                                    <h:commandLink action="#{LoginBean.Logout()}" > <i class="icon-key"></i> Çıkış Yap </h:commandLink>
                                </li>
                            </h:form>
                        </ul>
                    </li>
                    <!-- UYE GIRIS KISMI BITIS -->
                </ul>
                <!-- UST BAR BITIS -->
            </div>
        </div>
        <div class="clearfix"></div>
        
        <div class="page-container">
            
            <div class="page-sidebar navbar-collapse collapse">
                 
                <div class="sidebar-toggler hidden-phone"></div>
                <br></br>
             

                <h:form id="leftbar">
                    <ul class="page-sidebar-menu">
                        <br> </br>
                        <li class="active ">
                            <h:commandLink style="" action="#{LoginBean.setPage('main.xhtml')}">
                                <i class="icon-home"></i> 
                                <span class="title">ANA SAYFA</span>
                            </h:commandLink>
                        </li>
                        <li class="">
                            <a href="javascript:;">
                                <i class="icon-bookmark-empty"></i> 
                                <span class="title">REZERVASYON</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li >             
                                    <h:commandLink class="#{LoginBean.unique(1)}" action="#{LoginBean.setPage('rDo.xhtml')}" value="Rezervasyon Yap"/>                   
                                </li>
                                <li >
                                    <h:commandLink class="#{LoginBean.unique(2)}" action="#{LoginBean.setPage('r_pay.xhtml')}" value="Rezervasyon Bitir"/>   
                                </li>
                                <li >
                                    <h:commandLink class="#{LoginBean.unique(3)}" action="#{LoginBean.setPage('musteri.xhtml')}" value="Müşteri Düzenle"/>   
                                </li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="javascript:;">
                                <i class="icon-key"></i> 
                                <span class="title">ODA İŞLEMLERİ</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li >
                                    <h:commandLink class="#{LoginBean.unique(4)}" action="#{LoginBean.setPage('r_table.xhtml')}" value="Oda İşlemleri"/>
                                    
                                </li>
                                <li >
                                    <h:commandLink class="#{LoginBean.unique(5)}" action="#{LoginBean.setPage('r_type_table.xhtml')}" value="Oda Tipi İşlemleri"/>
                                    
                                </li>
                                      <li>

                                    <h:commandLink class="" action="#{LoginBean.setPage('allrooms.xhtml')}" value="Tüm Odalar"/>
                                </li>
                                
                            </ul>
                            <ul class="sub-menu">
                                <li >
                                    <h:commandLink class="#{LoginBean.unique(5)}" action="#{LoginBean.setPage('r_type_table.xhtml')}" value="Oda Tipi İşlemleri"/>
                                    
                                </li>
                                
                            </ul>
                        </li>

                        <li class="">
                            <a href="javascript:;">
                                <i class="icon-gift"></i> 
                                <span class="title">SİPARİŞ</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li >
                                    <h:commandLink class="#{LoginBean.unique(6)}" action="#{LoginBean.setPage('s_orderadd.xhtml')}" value="Sipariş Ekle"/>
                                </li>
                                <li >
                                    <h:commandLink class="#{LoginBean.unique(7)}" action="#{LoginBean.setPage('s_order.xhtml')}" value="Sipariş Düzenle"/>
                                </li>

                            </ul>
                        </li>
                        
                        <li class="">
                            <a href="javascript:alert('ne gerek var');">
                                <i class="icon-sitemap"></i> 
                                <span class="title">ÇALIŞAN İŞLEMLERİ</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li >
                                    <h:commandLink class="#{LoginBean.unique(8)}" action="#{LoginBean.setPage('e_table.xhtml')}" value="Çalışan İşlemleri"/>   
                                </li>

                            </ul>
                        </li>
                        <li class="">
                            <a href="javascript:;">
                                <i class="icon-th"></i> 
                                <span class="title">DEPARTMAN İŞLEMLERİ</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>

                                    <h:commandLink class="#{LoginBean.unique(9)}" action="#{LoginBean.setPage('d_table.xhtml')}" value="Departman İşlemleri"/>
                                </li>
                                <li>

                                    <h:commandLink class="#{LoginBean.unique(10)}" action="#{LoginBean.setPage('expense_table.xhtml')}" value="Gider İşlemleri"/>
                                </li>
                                <li>

                                    <h:commandLink class="#{LoginBean.unique(11)}" action="#{LoginBean.setPage('type_table.xhtml')}" value="Ürün İşlemleri"/>
                                </li>
                            </ul>
                        </li>

                        <li class="last ">


                            <h:commandLink style="" action="#{LoginBean.setPage('profile.xhtml')}">
                                <i class="icon-user"></i> 
                                <span class="title">PROFİL</span>
                            </h:commandLink>

                        </li>
                    </ul>
                </h:form>
               
            </div>

            
            <div class="page-content" style="height:900px">   
                <!-- INCLUDE ETTIGIMIZ BOLUM -->  
                <ui:include src="#{LoginBean.pagename}" /> 
                
            </div>
        </div>
        <div class="footer">
            <div class="footer-tools">
                <span class="go-top">
                    <i class="icon-angle-up"></i>
                </span>
            </div>
        </div>
        <!-- ESKI TARAYICI AYARI -->
        <!--[if lt IE 9]>
        <script src="/hotelmanagementproject/assets/plugins/respond.min.js"></script>
        <script src="/hotelmanagementproject/assets/plugins/excanvas.min.js"></script> 
        <![endif]-->   
        <script src="/hotelmanagementproject/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="/hotelmanagementproject/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>    
        <script src="/hotelmanagementproject/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/hotelmanagementproject/assets/plugins/bootstrap/js/bootstrap2-typeahead.min.js" type="text/javascript"></script>
        <script src="/hotelmanagementproject/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
        <script src="/hotelmanagementproject/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/hotelmanagementproject/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
        <script src="/hotelmanagementproject/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
        <script src="/hotelmanagementproject/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/data-tables/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/data-tables/DT_bootstrap.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/jquery-validation/dist/additional-methods.min.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/select2/select2.min.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/fuelux/js/spinner.min.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/ckeditor/ckeditor.js"></script>  
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/select2/select2.min.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script> 
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/clockface/js/clockface.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/bootstrap-daterangepicker/moment.min.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script> 
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>  
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>   
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/jquery.input-ip-address-control-1.0.min.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
        <script type="text/javascript" src="/hotelmanagementproject/assets/plugins/jquery-multi-select/js/jquery.quicksearch.js"></script>   
        <script src="/hotelmanagementproject/assets/plugins/jquery.pwstrength.bootstrap/src/pwstrength.js" type="text/javascript" ></script>
        <script src="/hotelmanagementproject/assets/plugins/bootstrap-switch/static/js/bootstrap-switch.min.js" type="text/javascript" ></script>
        <script src="/hotelmanagementproject/assets/plugins/jquery-tags-input/jquery.tagsinput.min.js" type="text/javascript" ></script>
        <script src="/hotelmanagementproject/assets/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript" ></script>
        <script src="/hotelmanagementproject/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript" ></script>

        <script src="/hotelmanagementproject/assets/scripts/table-editable.js"></script> 
        <script src="/hotelmanagementproject/assets/scripts/app.js"></script>
        <script src="/hotelmanagementproject/assets/scripts/form-wizard.js"></script> 
        <script src="/hotelmanagementproject/assets/scripts/form-components.js"></script>     
        <script src="/hotelmanagementproject/js/rezervation.js"></script>  
        <script>


            jQuery(document).ready(function() {
                // obje hareketlerini ve js ayarlarimizi yukliyoruz
                App.init();
                TableEditable.init();
                FormWizard.init();
                FormComponents.init();

            });
        </script>
     
    </h:body>

</html>