<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
          
      xmlns:f="http://xmlns.jcp.org/jsf/core">
       
         <script src="/hotelmanagementproject/js/jquery-1.9.0.min.js"></script>
        <script type='text/javascript' src='/hotelmanagementproject/js/bootbox.min.js'></script>
        <script type='text/javascript' src='/hotelmanagementproject/js/login.js'></script>
        <script language="javascript">
         
            </script>
    <h:head>
        <style>
            body {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #0ca3d2; // arka palimiz mavi
}

.login {
  position: relative;
  margin: 50px auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3); // login sinifimiza kutuya golge koyuyoruz
}

.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  
  
}

 .girisyap {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

.girisyap:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
        </style>
         <link href='/hotelmanagementproject/css/login.css' rel='stylesheet' type='text/css'/>
        <title>EDUE</title>
    </h:head>
    <h:body>
      <div class="login">
          <h1>EDUE Hotel Yönetim</h1>
    <h:form id="lform" >
    
        <p><h:inputText value="#{LoginBean.tempID}" id="loginid" size="11"   onkeyup="checkid()" onchange="checkid()" onblur="checkid()" p:placeholder="ID" /></p>
        <p><h:inputSecret value="#{LoginBean.pass}" id="loginpass" p:placeholder="Şifre" /></p>
            
      <p class="remember_me">
        <label>
            <h:selectBooleanCheckbox id="remember_me" />
          Beni Hatırla
        </label>
      </p>
      </h:form>
      <p class="submit"><button class="girisyap" value="Giriş Yap" onclick="run()" >Giriş Yap</button></p>
      <div id="add" > <h:outputText value="#{LoginBean.ShowError()}"  escape="false"/> </div>
      
  </div>    

  <div class="login-help">
    <p>Şifrenizi unuttunuz? <a href="#" onclick="reset()">Buraya Tıklayın</a>.</p>
  </div>
    </h:body>
</html>

