<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>EDUE</title>
    </h:head>
    <h:body>
       <h3 class="form-section">Ana Sayfa</h3>
      <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <div class="dashboard-stat blue">
                  <div class="visual">
                     <i class="icon-male"></i>
                  </div>
                  <div class="details">
                     <div class="number">
                        #{reportsDAO.currentCustomersCount()}
                     </div>
                     <div class="desc">                           
                        Oteldeki Müşteriler
                     </div>
                  </div>
                           
               </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <div class="dashboard-stat green">
                  <div class="visual">
                     <i class="icon-shopping-cart"></i>
                  </div>
                  <div class="details">
                      <div class="number">#{reportsDAO.dailyOrderMoneyToday()}</div>
                     <div class="desc">Bugünkü Siparişler</div>
                  </div>
                               
               </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <div class="dashboard-stat purple">
                  <div class="visual">
                     <i class="icon-bar-chart"></i>
                  </div>
                  <div class="details">
                      <div class="number">#{reportsDAO.occupancyRate()}</div>
                     <div class="desc">Doluluk Oranı</div>
                  </div>
                               
               </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <div class="dashboard-stat yellow">
                  <div class="visual">
                     <i class="icon-money"></i>
                  </div>
                  <div class="details">
                      <div class="number">#{reportsDAO.dailyProfit()}</div>
                     <div class="desc">Günlük Gelir</div>
                  </div>
                              
               </div>
            </div>
         </div>
       <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <div class="dashboard-stat red">
                  <div class="visual">
                     <i class="icon-star"></i>
                  </div>
                  <div class="details" style="position:relative;top:25px;">
                     <div class="desc" style="font-size: 15px;">
                         
                        #{reportsDAO.mostChoiceRoom()}
                         
                     </div>
                     <div class="desc" style="font-size: 10px;">                           
                        En Çok Tercih Edilen Oda
                     </div>
                  </div>
                           
               </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <div class="dashboard-stat yellow">
                  <div class="visual">
                     <i class="icon-dollar"></i>
                  </div>
                  <div class="details">
                      <div class="number">#{reportsDAO.SumOfEmployeeSalariesString()}</div>
                     <div class="desc">Çalışanların toplam maaşı</div>
                  </div>
                
               </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <div class="dashboard-stat" style="background-color: #bce8f1;">
                  <div class="visual">
                     <i class="icon-bitcoin"></i>
                  </div>
                  <div class="details">
                      <div class="number">#{reportsDAO.SumOfBillsToday()}</div>
                     <div class="desc">Günlük Fatura Toplamı</div>
                  </div>
                                  
               </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat" style="background-color: pink;">
                  <div class="visual">
                     <i class="icon-credit-card"></i>
                  </div>
                  <div class="details">
                      <div class="number">#{reportsDAO.SumOfExpensesToday()}</div>
                     <div class="desc">Giderler</div>
                  </div>
                            
               </div>
            </div>
           
         </div>
    </h:body>
</html>

