<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>        
        <title>Müşteri Düzenle</title> 
        
        <script type="text/javascript">
            
            function openW(){window.open('', 'TheWindow','toolbar=no, scrollbars=no, resizable=no, width=400, height=400');}
           
            function openWindowWithPost() {
                  openW();
  var f = document.getElementById('TheForm');

  f.submit();
}
        </script>
    </h:head>
    <h:body>
        <h3 class="form-section">Musteri Bilgileri Guncelle</h3>
        
        <form id="TheForm" method="get" action="addon/editCustomerInfo.xhtml" target="TheWindow">
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label col-md-3">Musteri ID</label>
                    <div class="input-group" style="text-align: left">
                        <input type="text" name="musteriID" class="form-control" />
                        <span class="input-group-btn"> <input type="button" class="form-control" onclick="openWindowWithPost()" value="Ara" ></input></span>
                    </div>
                    
                </div>
                
            </div>
</form>       
    </h:body>
</html>

