<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>EDUE</title>
    </h:head>
    <h:body>
        <h:form>
            <h3 class="form-section">Kullanıcı Bilgileri</h3>
          #{LoginBean.getProfile()}
            
            
                                       <div class="form-group">
                                          <label class="control-label">Adı</label>
                                          <h:inputText value="#{LoginBean.t_name}" class="form-control" disabled="true" />                                          
                                       </div>
                                       <div class="form-group">
                                          <label class="control-label">Soyadı</label>
                                          <h:inputText value="#{LoginBean.t_surname}" class="form-control" disabled="true" />
                                       </div>
                                       <div class="form-group">
                                          <label class="control-label">Telefon No</label>
                                          <h:inputText value="#{LoginBean.t_phone}" class="form-control" />
                                       </div>
                                       <div class="form-group">
                                          <label class="control-label">Yeni Şifre</label>
                                          <h:inputText value="#{LoginBean.t_password}" class="form-control" />
                                       </div>
                                        <div class="form-group">
                                          <label class="control-label">Yeni Şifre Tekrar</label>
                                          <h:inputText value="#{LoginBean.t_password2}" class="form-control" />
                                       </div>
                                       <div class="form-group">
                                          <label class="control-label">Maaş Bilgileri</label>
                                          <h:inputText value="#{LoginBean.t_Salary}" class="form-control" disabled="true" />
                                       </div>
                                       <div class="form-group">
                                          <label class="control-label">İş Açıklaması</label>
                                          
                                          <h:inputTextarea value="#{LoginBean.t_about}" rows="3" class="form-control" disabled="true"  />
                                         
                                       </div>
            
                                       <div class="margiv-top-10">
                                           <h:commandLink action="#{LoginBean.saveProfile()}" class="btn green"> Kaydet</h:commandLink> 
                                           <h:commandLink action="index.xhtml" class="btn default"> Vazgeç</h:commandLink>
                                       </div>
                                    </h:form>
    </h:body>
</html>

