<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >
     <script>
        function kopyala(){
            document.getElementById('sip:veri').value=document.getElementById('buradan').value;
        }        
        // listener on Customer search
        function ara(){
             window['output'] = document.getElementById('sip:musteriid');
        window.open("addon/getcustomer.xhtml","myWindow","toolbar=no, scrollbars=no, resizable=no, width=400, height=400");
        }
        </script>
    <h:form id="sip">
   <h3 class="form-section">Rezervasyon Bitir</h3>
    <div class="form-group">
                             
                                            <label class="control-label col-md-3">Müşteri</label>
                                            <div class="input-group" style="text-align:left"><h:inputText id="musteriid" value="#{reservationLastBean.leaderId}" class="form-control" />
                                    <span class="input-group-btn">
                                       
                                    
                              
                                        <a href="#" onclick="ara()" class="btn yellow">Müşteri Ara <i class="icon-search"></i></a> 
                                       
                                    </span>
                                 
                                 </div>
                 <span class="input-group-btn left">
                                       
                                    
                              <div class=" " >
                     <h:commandButton value="Faturayı Getir" class="btn blue" action="#{reservationLastBean.payment()}" />
                                      
                              </div>                   
                 </span>                          
                                 
                              
                           </div>
    
   <div>
                                        <h4 class="form-section"> Fatura Bilgileri </h4>
                                         <div class="row">
<div class="col-md-6"><div class="form-group"><label class="control-label col-md-3">Adı:</label>
        <div class="col-md-9"><p class="form-control-static"> #{reservationLastBean.leaderName} </p></div></div></div><!--/span-->
<div class="col-md-6">
    #{reservationLastBean.totalPrice}
</div><!--/span--></div>
<div class="row">
<div class="col-md-6"><div class="form-group"><label class="control-label col-md-3">Soyadı</label>
<div class="col-md-9"><p class="form-control-static"> #{reservationLastBean.leaderSurName} </p></div></div></div><!--/span-->
<div class="col-md-6"> <h:commandButton value="Faturayı Öde" class="btn green" action="#{reservationLastBean.payMe()}" />
</div><!--/span--></div>
                                    </div>
    </h:form>
</html>
