<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >
    <script>
        function degisti(){
            var degisken = document.getElementById('buradan').value;
            degisken = degisken.split(":");
            document.getElementById('sip:veri').value=degisken[1];
        }
    </script>
    <h:body>
        <h3 class="form-section">Oda İşlemleri</h3>



        <div class="form-group">

            <h:form id="sip">

                <div class="col-md-3">

                    <div class="form-group">
                        <label class="control-label">Oda Numarası </label>
                        <h:inputText   class="form-control" value="#{roomBean.roomNo}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Kat Numarası</label>
                        <h:inputText   class="form-control" value="#{roomBean.floorNo}" /> 
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label">Tip</label>
                      
                        <input  id="buradan" class="form-control" autocomplete="off" data-provide="typeahead" data-items="4" data-source='#{roomBean.allRoomTypes()}'/>

                            <h:inputText id="veri" value="#{roomBean.roomTypeID}" style="visibility: hidden"/>

                    </div>
                     <div class="form-group" style="position:relative;bottom:25px;">
                            <span class="input-group-btn">


                                <h:commandLink class="btn green" id="username1_checker" action="#{roomBean.save()}" onclick="degisti()" > <i class="icon-ok"></i> Kaydet </h:commandLink>

                            </span>
                </div>
                </div>
               
  </h:form>
                <div class="col-md-8" style="float: right;">

                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-user"></i>Odalar</div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Oda No</th>
                                            <th>Kat No</th>
                                            <th>Oda Tipi</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ui:repeat varStatus="status" var="item" value="#{roomBean.roomList}" > 
                                            <tr>
                                                <td>#{status.index} </td>
                                                <td>#{item.roomNo}</td>
                                                <td>#{item.floorNo}</td>
                                                <td>#{roomBean.RoomTypeName(item.roomtype_id)}</td>
                                                <td><h:form>
                                                        <h:commandLink action="#{roomBean.edit(item.id)}" class="btn btn-xs blue"> Düzenle <i class="icon-edit"></i> </h:commandLink>
                                        
                                        <h:commandLink action="#{roomBean.delete(item.id)}" class="btn btn-xs red"> Sil <i class="icon-remove"></i> </h:commandLink> 
                                            </h:form>    </td>
                                            </tr>

                                        </ui:repeat>

                                    </tbody>
                                </table>
                                <div class="col-md-12">
            <div class="col-md-offset-3" style="float: right;position:relative;top:20px;">
                <h:form>  <h:commandButton action="#{roomBean.AllRooms}" class="btn blue button-next"  value="Odaları Göster"/> </h:form>
              
            </div>
        </div>

                            </div>
                        </div>
                    </div>


                
                </div>
          
        </div>

        

    </h:body>








</html>
