<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >

        <script>
        // listener on Customer search
        function ara(myid) {
            var myid="sip:"+myid;
            window['output'] = document.getElementById(myid);
            window.open("addon/imagesearch.xhtml", "myWindow", "toolbar=no, scrollbars=no, resizable=no, width=400, height=400");
        }
    </script>
    <h:body>
        <h3 class="form-section">Oda Tipi İşlemleri</h3>



        <div class="form-group">

            <h:form id="sip">

                <div class="col-md-3">

                    <div class="form-group">
                        <label class="control-label">Çift Kişilik Yatak Sayısı </label>
                        <h:inputText   class="form-control" value="#{roomTypeBean.evenBed}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tek Kişilik Yatak Sayısı </label>
                        <h:inputText   class="form-control" value="#{roomTypeBean.oddBed}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ranza Sayısı </label>
                        <h:inputText   class="form-control" value="#{roomTypeBean.bunkBed}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Toplam Yatak Sayısı </label>
                        <h:inputText   class="form-control" value="#{roomTypeBean.bedCount}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Günlük Ücret </label>
                        <h:inputText   class="form-control" value="#{roomTypeBean.prizePerDay}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Açıklama </label>
                        <h:inputText   class="form-control" value="#{roomTypeBean.description}" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">1. Fotoğraf </label>
                        <h:inputText  id="u1"  class="form-control" value="#{roomTypeBean.photo1url}" onclick="ara('u1')" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">2. Fotoğraf </label>
                        <h:inputText   id="u2"  class="form-control" value="#{roomTypeBean.photo2url}" onclick="ara('u2')" /> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">3. Fotoğraf </label>
                        <h:inputText  id="u3"  class="form-control" value="#{roomTypeBean.photo3url}"  onclick="ara('u3')" /> 
                    </div>

                    <div class="form-group" style="position:relative;">
                        <span class="input-group-btn">


                            <h:commandLink class="btn green" id="username1_checker" action="#{roomTypeBean.save()}" > <i class="icon-ok"></i> Kaydet </h:commandLink>

                        </span>
                    </div>
                </div>

            </h:form>
            <div class="col-md-8" style="float: right;">

                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-user"></i>Oda Tipleri</div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Çift Kişilik</th>
                                        <th>Tek Kişilik</th>
                                        <th>Ranza</th>
                                        <th>Toplam Yatak</th>
                                        <th>Günlük Ücret</th>
                                        <th>Açıklama</th>
                                        <th>Foto 1</th>
                                        <th>Foto 2</th>
                                        <th>Foto 3</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <ui:repeat varStatus="status" var="item" value="#{roomTypeBean.typeList}" > 
                                        <tr>
                                            <td>#{status.index} </td>
                                            <td>#{item.evenBed}</td>
                                            <td>#{item.oddBed}</td>
                                            <td>#{item.bunkBed}</td>
                                            <td>#{item.bedCount}</td>
                                            <td>#{item.prizePerDay}</td>
                                            <td>#{item.description}</td>
                                            <td> <img src="#{item.photo1url}" height="100"/></td>
                                            <td><img src="#{item.photo2url}" height="100"/></td>
                                            <td><img src="#{item.photo3url}" height="100"/></td>

                                            <td><h:form>
                                                    <h:commandLink action="#{roomTypeBean.edit(item.id)}" class="btn btn-xs blue"> Düzenle <i class="icon-edit"></i> </h:commandLink>

                                                    <h:commandLink action="#{roomTypeBean.delete(item.id)}" class="btn btn-xs red"> Sil <i class="icon-remove"></i> </h:commandLink> 
                                                </h:form>    </td>
                                        </tr>

                                    </ui:repeat>

                                </tbody>
                            </table>
                            <div class="col-md-12">
                                <div class="col-md-offset-3" style="float: right;position:relative;top:20px;">
                                        <h:form>  <h:commandButton action="#{roomTypeBean.AllRoomTypes()}" class="btn blue button-next"  value="Oda Tiplerini Göster"/> </h:form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>

        </div>



    </h:body>
</html>
