<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    #{rezervationBean.showRooms()}
    <ui:repeat var="item" varStatus="status" value="#{rezervationBean.roomLists}" >
        
          <div id="oda#{item.ID}" class="col-md-3">
                               <div class="meet-our-team">
                                   <h3>#{item.name} </h3>
                                   <div  class="carousel image-carousel slide">
                        <div id="myCarousel#{item.ID}" class="carousel-inner">
                           <div class="item active">
                               <a class="mix-preview fancybox-button" href="#{item.imageUrl1}" data-rel="fancybox-button">
                                   <img  src="#{item.imageUrl1}" class="img-responsive" alt=""/>
                               </a>           
                           </div>
                           <div class="item">
                              <img src="#{item.imageUrl2}" class="img-responsive" alt=""/>
                           </div>
                           <div class="item">
                              <img src="#{item.imageUrl3}" class="img-responsive" alt=""/>
                           </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel#{item.ID}" data-slide="prev">
                        <i class="m-icon-big-swapleft m-icon-white"></i>
                        </a>
                        <a class="carousel-control right" href="#myCarousel#{item.ID}" data-slide="next">
                        <i class="m-icon-big-swapright m-icon-white"></i>
                        </a>
                        
                     </div>
                  
                  
                  
                                   <div class="team-info" onclick="odaekle(#{item.ID},#{item.prize})">
                     <div id="sinif#{item.ID}" class="note note-info">
                         <small>#{item.totalCount} Kişilik</small>
                         <br>
                         <h:outputText value="#{roomdao.getNumbers(item.ID)}" escape="false" />
                         </br>
                        <p id="yazi#{item.ID}">Seçmek için Tıklayın</p>
                     
                     
                        <p class="pull-right">
                            <button type="button" id="fiyat" class="btn red">#{item.prize} TL</button>
                     </p>
                        <p><br></br><br></br></p>
                     </div>
                     
                  </div>
               </div>
                            </div>
         
 
   </ui:repeat>
</html>

