<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <script>
        function kopyala() {
            document.getElementById('sip:veri').value = document.getElementById('buradan').value;
        }
        // listener on Customer search
        function ara() {
            window['output'] = document.getElementById('sip:musteriid');
            window.open("addon/getcustomer.xhtml", "myWindow", "toolbar=no, scrollbars=no, resizable=no, width=400, height=400");
        }
    </script>
    <h:body>
        <h3 class="form-section">Sipariş Ekle</h3>

        <h:form id="sip">


            <div class="form-group">


                <div class="col-md-3">

                    <div class="form-group">

                        <label class="control-label col-md-3">Müşteri</label>
                        <div class="input-group" style="text-align:left">
                            <h:inputText id="musteriid" class="form-control" value="#{orderBean.customerId}" /> 
                            <span class="input-group-btn">



                                <a href="#" onclick="ara()" class="btn yellow">Müşteri Ara <i class="icon-search"></i></a> 

                            </span>

                        </div>



                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Adet</label>

                        <div id="spinner1">
                            <div class="input-group input-small">
                                <h:inputText class="spinner-input form-control" maxlength="3" value="#{orderBean.count}" readonly=""/>

                                <div class="spinner-buttons input-group-btn btn-group-vertical">                   
                                    <button type="button" class="btn spinner-up btn-xs blue">                       
                                        <i class="icon-angle-up"></i>                    
                                    </button>                     
                                    <button type="button" class="btn spinner-down btn-xs blue">                        
                                        <i class="icon-angle-down"></i>                     
                                    </button>                  
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Ürün</label>
                        <div class="input-group" style="text-align:left">
                            <input  id="buradan" class="form-control" autocomplete="off" data-provide="typeahead" data-items="4" data-source='#{orderBean.getAllOrderTypes(LoginBean.getDepartmentEmployee())}'/>

                            <span class="input-group-btn">


                                <h:commandLink class="btn green" id="username1_checker" action="#{orderBean.addtoOrderList()}" onclick="kopyala()" > <i class="icon-ok"></i> Ekle </h:commandLink>

                            </span>

                        </div>
                        <h:inputText id="veri" value="#{orderBean.name}" style="visibility: hidden"/>

                    </div>
                </div>


                <div class="col-md-9">

                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-shopping-cart"></i>Ürün ve Hizmetler</div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Ürün - Hizmet Adı</th>
                                            <th>Miktarı</th>
                                            <th>Birim Fiyatı</th>
                                            <th>Toplam Fiyat</th>
                                            <th>Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ui:repeat varStatus="status" var="item" value="#{orderBean.list}" > 
                                            <tr>
                                                <td>#{status.index} </td>
                                                <td>#{item.name}</td>
                                                <td>#{item.countStr}</td>
                                                <td>#{item.price}</td>
                                                <td>#{item.totalprice}</td>
                                                <td><h:commandLink class="btn  red" action="#{orderBean.removeFromOrderList(status.index)}" ><i class="icon-remove"></i> Sil</h:commandLink> </td>
                                            </tr>

                                        </ui:repeat>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <h:inputTextarea id="gonderilecek" class="form-control" style="visibility: hidden;"  rows="1"  disabled="true"/>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-offset-3 col-md-9">
                    <h:commandLink action="#{orderBean.savetoOrderList()}" class="btn blue button-next"  >Siparişi Kaydet <i class="m-icon-swapright m-icon-white"></i></h:commandLink> 
                    <h:commandLink action="#{orderBean.cleanOrderList()}" class="btn red"  > Siparişi Sil <i class="icon-remove"></i></h:commandLink> 


                </div>
            </div>

        </h:form>
    </h:body>
</html>

