<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <script>f1(){
            alert("asd");
            document.getElementById("listem:g_bas").value=document.getElementById("r_bas").value;
            document.getElementById("listem:g_son").value=document.getElementById("r_son").value;
        }

            </script>
    <h3 class="form-section">Tüm Siparişler</h3>
    
    <h:form id="listem">
        <div class="form-group">
                            
            <div class="col-md-9 ">
                <div class="btn-group">
                                    
                    <h:commandLink type="button" action="#{orderListBean.Search()}" class="btn btn-default"><i class="icon-list"></i> Hepsini Listele </h:commandLink>
                    <input id="r_bas" class="form-control form-control-inline input-medium date-picker" data-date-format="dd-mm-yyyy" size="16" type="text" value="" placeholder="İlk Tarih"   />
                    <input id="r_son" class="form-control form-control-inline input-medium date-picker" data-date-format="dd-mm-yyyy" size="16" type="text" value="" placeholder="Son Tarih" />
                    <h:inputText id="g_bas"  class="hidden"  value="" />
                    <h:inputText id="g_son"  class="hidden" value="" />
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-ellipsis-horizontal"></i> Tarihe Göre Ara
                                        <i class="icon-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><h:commandLink value="Tek Tarihine Göre Ara"  /></li>
                                            <li><h:commandLink value="Tarih Aralığında Ara"  /></li>
                                        </ul>
                                    </div>
                                    <div class="input-group right">
                                 <h:inputText class="form-control"/>
                                 <span class="input-group-btn">
                                 <h:commandLink class="btn blue" type="button">ARA</h:commandLink>
                                 </span>
                              </div>
                                </div>
                              
                              <!-- /input-group -->
                           </div>
                           </div>
        
        
        <div class="portlet box green">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-picture"></i>Tüm Siparişler</div>
                     
                  </div>
                  <div class="portlet-body">
                     <div class="table-responsive">
                        <table class="table table-condensed table-hover">
                        <thead>
                           <tr>
                              <th>#</th>
                              <th>Müşteri</th>
                              <th>Ürün - Hizmet Adı</th>
                              <th>Miktarı</th>
                              <th>Birim Fiyatı</th>
                              <th>Toplam Fiyat</th>
                              <th>Durum</th>
                              <th>İşlem</th>
                           </tr>
                        </thead>
                        <tbody>
                            <ui:repeat varStatus="status" var="item" value="#{orderListBean.orderList}" > 
                                <tr>
                                    <td>#{status.index} </td>
                                    <td>#{item.customerName}</td>
                                    <td>#{item.orderName}</td>
                                    <td>#{item.orderCount}</td>
                                    <td>#{item.orderPrice}</td>
                                    <td>#{item.orderTotalPrice}</td>
                                    <td><h:outputText value="#{item.orderStats}" escape="false"/></td>
                                    <td>
                                        <div class="btn-group btn-group-xs btn-group-solid">
										
									
                                        <h:commandLink class="btn btn-xs blue"> Düzenle <i class="icon-edit"></i> </h:commandLink>
                                        <h:commandLink class="btn btn-xs yellow"> Fatura  <i class="icon-search"></i> </h:commandLink>
                                        <h:commandLink class="btn btn-xs red"> Sil <i class="icon-remove"></i> </h:commandLink> 
                                        </div>
                                    </td>
                                   
                           </tr>
                                
                            </ui:repeat>
                            
                         
                        </tbody>
                        </table>
                     </div>
                  </div>
               </div>
         
    </h:form>
    
    </h:body>
      
</html>

