<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
          
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <link href='/hotelmanagementproject/css/main.css' rel='stylesheet' type='text/css'/>
        <link href='http://www.keenthemes.com/preview/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css'/>
       
<link href="/HotelManagementProject/css/font.css" rel="stylesheet" type="text/css"/>

        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
	
	    var menu_ul = $('.menu > li > ul'),
	           menu_a  = $('.menu > li > a');
	    
	    menu_ul.hide();
            
                
	    menu_a.click(function(e) {
                if($(this).attr('id')==="my:ana") // ana sayfa degilse acilmamasina yariyor
                    return ;
                // tikladiginda
	        e.preventDefault();
	        if(!$(this).hasClass('active')) {
	            menu_a.removeClass('active');
                    
	            menu_ul.filter(':visible').slideUp('normal');
	            $(this).addClass('activeadministrator').next().stop(true,true).slideDown('normal');
	        } else {
	            $(this).removeClass('active');
	            $(this).next().stop(true,true).slideUp('normal');
	        }
                // tiklama bitis
	    });
	
	});
</script>
    </h:head>
    
    <h:body>
        
	
 
	    <div class="topbar">
		en
	    </div>
        <div class="navbar">
           <div id="wrapper">
               <h:form id="my">
	<ul class="menu">
		<li ><h:commandLink id="ana"  action="#{LoginBean.setPage('main.xhtml')}" value="AnaSayfa"/>
			<ul>
                            
				<li class="subitem2"><a href="#">Strange “Stuff”</a></li>
				<li class="subitem3"><a href="#">Automatic Fails</a></li>
			</ul>
		</li>
		<li class="item2"><a href="#">Rezervasyon</a>
			<ul>
				<li class="subitem1"><h:commandLink action="#{LoginBean.setPage('rDo.xhtml')}" value="Rezervasyon Yap"/></li>
				<li class="subitem2"><a href="#">Strange “Stuff”</a></li>
				<li class="subitem3"><a href="#">Automatic Fails</a></li>
			</ul>
		</li>
		<li class="item3"><a href="#">Sipariş</a>
			<ul>
				<li class="subitem1"><a href="#">Cute Kittens</a></li>
				<li class="subitem2"><a href="#">Strange “Stuff”</a></li>
				<li class="subitem3"><a href="#">Automatic Fails</a></li>
			</ul>
		</li>
		<li class="item4"><a href="#">Rapor</a>
			<ul>
				<li class="subitem1"><a href="#">Cute Kittens</a></li>
				<li class="subitem2"><a href="#">Strange “Stuff”</a></li>
				<li class="subitem3"><a href="#">Automatic Fails</a></li>
			</ul>
		</li>
		<li class="item5"><a href="#">Çalışan İşlemleri</a>
			<ul>
				<li class="subitem1"><a href="#">Cute Kittens</a></li>
				<li class="subitem2"><a href="#">Strange “Stuff”</a></li>
				<li class="subitem3"><a href="#">Automatic Fails</a></li>
			</ul>
		</li>
                <li class="item6"><a href="#">Profil</a>
			<ul>
				<li class="subitem1"><a href="#">Cute Kittens</a></li>
				<li class="subitem2"><a href="#">Strange “Stuff”</a></li>
				<li class="subitem3"><a href="#">Automatic Fails</a></li>
			</ul>
		</li>
            <li class="item7"><a href="#">Ayarlar</a>
			<ul>
				<li class="subitem1"><a href="#">Cute Kittens</a></li>
				<li class="subitem2"><a href="#">Strange “Stuff”</a></li>
				<li class="subitem3"><a href="#">Automatic Fails</a></li>
			</ul>
		</li>
            <li class="item8"><a href="#">Departman İşlemleri</a>
			<ul>
				<li class="subitem1"><a href="#">Cute Kittens</a></li>
				<li class="subitem2"><a href="#">Strange “Stuff”</a></li>
				<li class="subitem3"><a href="#">Automatic Fails</a></li>
			</ul>
		</li>
	</ul>
           </h:form>
</div>
            </div>
 
        <div style="padding-top: 48px">
            
            <ui:include src="#{LoginBean.pagename}" /> 
            
        </div>	   
        
 
    </h:body>
</html>
